:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.blackboardJs {
    background-color: var(--color-terciario);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 1rem;
}


.header {
    text-align: left;
    background-color: var(--color-terciario);
    border: 2px solid #fff12d;
    margin: 23px;
    padding: 15px;
    border-radius: 10px;
    display: flex;

    & img {
        width:180px;
    }

    & h1 {
        font-size: 39px;
    }
    & h2 {
        font-size: 18px;
    }
    & p {
        font-size: 16px;
    }
}

.contenedor {
    margin: 23px;
    border: 1px solid var(--color-auxiliar);
    border-radius: 10px;

    & h1 {
        font-size: 24px;
        padding: 26px 0px 0px 26px;
        

        & i {
            color: #54e641;
            font-size: 70px;
        }
    }

    & h2 {
        font-size: 24px;
        padding: 0px 0px 0px 100px;
    }

    & p {
        font-size: 17px;
        padding: 0px 26px 20px 26px;
    }

    & .contenedor--posicion {
        text-align: center;
    }

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;

    & .sub-container {
        text-align: center;
        align-items: center;
    }
}

.section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid var(--color-auxiliar);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(249, 249, 144, 0.703);
    }
}

.hidden {
    display: none;

    & br {
        padding: 10px;
    }
    & li {
        padding: 10px;
    }

    & ol {
        margin: 20px 0px 10px 30px;
    }
}
#button {
    background-color: #333;
    color: #fff;
    width: 20%;
    padding: 10px 20px;
    margin: auto;
    margin-bottom: 23px;
    border: none;
    cursor: pointer;
    display: inline-block; 
    vertical-align: middle;
}
#button:hover {
    background-color: #555;
}
.container {
    display: flex;
    justify-content: space-between;
}
.sub-container {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 900px) {
    .header  img {
            display: none;
        }
}
