@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}

#input_buscar{
    border-color: #D9D9D9;
    border-radius: 10px;
    padding: 5px 15px;
}

.hero__foro{
display: flex;
height:120vh ;
background-color: #f7f7f7;

}
.principal__preguntar{
    margin-left: 10%;
    width: 80%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

/*dashboard*/
.foro__dashboard{
    background-color: aliceblue;
    width: 15%;    
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 50px;
}

.redireccion__link{
    height: 7%;
}

.texto__link{
    text-decoration: none;
    color: var(--color-secudario);
    margin-top: 20px;
    font-size: large;
}

/*Hacer preguntas*/
.hacer__pregunta{
    padding: 5% 0 10%;
    height: 20%;

}
#input__texto{
    padding: 20px;
    border-radius: 20px;
    border-color: #D9D9D9;
}

/*preguntas publicadas*/

.foro__publicadas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 5%;
    background-color: #ffffff;
    height: 40%;
    padding: 50px;
    border-radius: 3%;
}
.foro__publicadas img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.foro__pregunta{
    display: flex;
}
.foro__respuesta{
    display: flex;
    margin: 3% 5%;
}
.foro__reaccion button{
background-color: transparent;
border: 0px;
margin: 0 15px;

}
.foro__reaccion{
    display: flex;
    position: relative;
    top: 40px;
    right: 50px;
}

