@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
    --color-hover:#fd2200;
}


.panel__control{
    background-color:var(--color-secudario);
    width: 25%;
    display: flex;
    flex-direction: column;
    height: auto;
    & .panel__perfil{
        background-color: var(--color-secudario);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        & .foto__perfil{
            height: 90px;
            width: 90px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        & .perfil__descripcion{
            color: var(--color-auxiliar);
        }
    }

    & .panel__elemento{
    margin: 20px;
    display: flex;
    align-items: center;

        & a{
            text-decoration: none;
            color: var(--color-primario);
            margin: 4px;
            
            & i {
                font-size: 40px;
            }

            & .principal__enl{
                color: var(--color-auxiliar);
            }
        }
    }
}

.principal__preguntar{
    width: 80%;
    & .buscador__pregunta {
        width: 100%;
        
        & .principal__input { 
            border-radius: 10px;
            width: 98%;
            border: 2px solid var(--color-auxiliar);
        }
    }

    & .hacer__pregunta {
        text-align: center; 
        display: block; 
        margin: 0 auto;
    }

    & .body__preguntas {
        margin: 1% 2%;
        width: 80%;
        & .foro__publicadas {
            width: 100%;

            & .foro__pregunta {
                width: 100%;

            }
        }
    }

    & .hacer__pregunta{
        & .button--modificado{
            background-color: var(--color-primario);
            color: var(--color-terciario);
            border-radius: 20px;
            border: 0px;
            font-size: larger;
            width: 100px;
            margin: 5%;
            height: 40px;
            text-align: center;
            padding: 7px;

            &:hover,active{
            background-color: var(--color-hover);
            }
        }
    }
}

.foro__ref{
    text-decoration: none;
    font-size: 1.2rem;
    color:var(--color-secudario);
}

/*preguntas publicadas*/

.foro__publicadas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
    background-color: #ffffff;
    height: 40%;
    padding: 2%;
    border-radius: 3%;
}
.foro__publicadas img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.foro__pregunta{
    display: flex;
}
.foro__respuesta{
    display: flex;
    margin: 3% 5%;
}
.foro__reaccion button{
    background-color: transparent;
    border: 0px;
    margin: 0 15px;
}
.foro__reaccion{
    display: flex;
    position: relative;
    top: 40px;
    right: 50px;
}

.foro{
    display: flex;
    padding-top: 11vh;
}
/* Modal de formulario */
.pregunta{
    
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 8%;
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.principal__formulario{
    background-color: var(--color-auxiliar);
    border:2px solid var(--color-secudario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 2%;

    & #input__titulo{
        text-align: center;
        font-weight: 700;
    }
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
}

input[type=text]{
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 2px solid var(--color-secudario);
    box-sizing: border-box;
    height: 40px;
    font-size: larger;
}

#input__texto{
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 2px solid var(--color-secudario);
    box-sizing: border-box;
    font-size: medium;
}

#submit__button{
    padding: 14px 20px;
    margin: 10px 0;
    background-color: var(--color-primario);
    color: #FFFFFF;
    font-weight: 700;
    font-size: larger;
    border: none;
    cursor: pointer;
    width: 100%;
}
#submit__button:hover{
    background-color: var(--color-hover);
}

.instrucciones__contenido { 
    margin: 24px 2% 12px 2%;
    position: relative;
}

.close {
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: xx-large;
    font-weight: 900;
}

.close:hover,
.close:focus {
    color: var(--color-primario);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


@media screen and (max-width:550px){
    .perfil__nombre{
        font-size: 0.7rem;
    }
    /* nuevo */

    .pregunta{
        padding: 20px;
    }
}

@media screen and (max-width:690px){

    .principal__enl{
        display: none;
    }

    .panel__elemento{
        justify-content: center;
    }

    .pregunta{
        padding: 20px;
    }
}
