@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
    --color-hover:#fd2200;
}

.foro__container{
    background-color: #FFFFFF;  
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.principal__preguntar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .buscador__pregunta {
        width: 60%;
        margin-bottom: 5%;
        
        & .principal__input { 
            border-radius: 10px;
            width: 98%;
            border: 2px solid var(--color-auxiliar);
        }
    }

    & .hacer__pregunta {
        text-align: center; 
        display: block; 
        margin: 0 auto;
    }

    & .body__preguntas {
        margin: 1% 2%;
        width: 80%;
        & .foro__publicadas {
            width: 100%;

            & .foro__pregunta {
                width: 100%;

            }
        }
    }

    & .hacer__pregunta{
        .button--modificado{
            background-color: var(--color-primario);
            color: var(--color-terciario);
            border-radius: 20px;
            border: 0px;
            font-size: larger;
            width: 100px;
            margin: 5%;
            height: 40px;
            text-align: center;
            padding: 7px;

            &:hover,active{
            background-color: var(--color-hover);
            }
        }
    }
}
.button--modificado{
    background-color: var(--color-primario);
    color: var(--color-terciario);
    border-radius: 20px;
    border: 0px;
    font-size: larger;
    width: 100px;
    margin: 5%;
    height: 40px;
    text-align: center;
    padding: 7px;

    &:hover,active{
    background-color: var(--color-hover);
    }
}

.foro__ref{
    text-decoration: none;
    font-size: 1.2rem;
    color:var(--color-secudario);
}

/*preguntas publicadas*/

.foro__publicadas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 5% 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 30%;
    padding: 2%;
    border-radius: 1rem;
}
.foro__publicadas img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.foro__pregunta{
    display: flex;
    & h3{
        padding:2rem 2rem 0;
    }
    & a > p {
        color: #bab9b9;
    }
}
.foro__respuesta{
    display: flex;
    margin: 3% 5%;
}
.foro__reaccion button{
    background-color: transparent;
    border: 0px;
    margin: 0 15px;
}
.foro__reaccion{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    font-size: x-large;
    top: 80px;
    right: 50px;
}
.eliminar__post{
    background-color: transparent;
    border: none;
    margin: 0 2% 10%;

}

.foro{
    display: flex;
    overflow: auto;
}
/* Modal de formulario */
.pregunta{
    
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 8%;
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.principal__formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px 20px;
    margin:  0rem 2rem 2rem;

    & #input__titulo{
        text-align: center;
        font-weight: 700;
    }
    & textarea{
        margin: 20px 0px;
    }
    & textarea,
    input{
        padding: 0.5rem;
        border: var(--color-auxiliar);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
    & button{

        margin: 1rem 25%;
        align-items: center;
        background-color: var(--color-primario);
        color: var(--color-terciario);
        border-radius: 20px;
        padding: 7px;
        width: 95px;
        text-decoration: none;
        margin-left: 10px;
        border: none;
        font-size: 1rem;
    }
}

/* Modal Content/Box */
.modal-content {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
}
.instrucciones__contenido{
    padding: 1rem 1.5rem 1rem;
    font-size: medium;

    & span{
        margin: 0 95%;
        display: block;
        
        font-size: larger;
    }
    & h2{
        margin-bottom: 0.5rem;
    }
    & p{
        color: #565656;
        font-weight: 300;
        margin-bottom: 1rem;
    }
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


@media screen and (max-width:550px){
    .perfil__nombre{
        font-size: 0.7rem;
    }
    /* nuevo */

    .pregunta{
        padding: 20px;
    }
}

@media screen and (max-width:690px){

    .principal__enl{
        display: none;
    }

    .panel__elemento{
        justify-content: center;
    }

    .pregunta{
        padding: 20px;
    }
}
