@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}

/* Seccion eligenos */
.eligenos {
    padding-top: 5%;
    
    & .eligenos__banner {
        width: 100;
        height: 800px;
        position: relative;
        max-width: 100%; 
        overflow: hidden; 
        background-size: cover; /* Cambiado de 100% 100% a cover */
        background-image: url(/publics/img/cursos/eligenos.PNG);

        & .eligenos__img {
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
            max-width: 100%; /* La imagen no ser치 m치s ancha que su contenedor */
            height: auto;
            width: 25%; /* Ancho deseado */
        }

        & .eligenos__presentacion {
            text-align: center;
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.288);
            color: #fff;
            letter-spacing: 1px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        & .eligenos__titulo {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%; /* Ancho deseado */
            font-size: 6vw; /* Usar vw (viewport width) para que el tama침o se adapte a la pantalla */
            width: 90%; /* Ancho deseado */
            margin: 0 auto;
        } 
        
        & .eligenos__parrafo {
            font-size:2.4vw;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        & .button {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--color-primario);
            color: var(--color-terciario);
            border-radius: 20px;
            padding: 10px;
            text-decoration: none;
            width: 100;
            height: 40px;
        }
    }
    
        /* Seccion cursos */
    & .cursos {
        text-align: center;
        padding: 4px;

        & .cursos__titulo {
            font-size: 70px;
            color: var(--color-secudario);
        }
    
        & .cursos__subtitulo {
            font-size: 40px;
            color: var(--color-primario);
        }
    }

    
}

/* Seccion ser titulos  */
.banner {
    width: 100%;
    height: 200px; 
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-size: cover; 
    background-image: url(/publics/img/cursos/titulo.PNG);

    & .banner__titulo {
        font-size: 4em;
        text-align: center;
        color: var(--color-terciario);
        padding: 20px;
    }
}

/* Seccion beneficios */
.beneficios {
    & .beneficios__titulo {
        text-align: center;
        font-size: 60px;
        padding: 50px ;
        color: var(--color-primario);
    }
    
    & .beneficios__container {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: auto;
        flex-grow: 1;

        & .beneficios__x {
            flex: 1 1 30rem;
            background: var(--color-terciario);
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            text-align: center;
            border: 1rem solid var(--color-terciario);
            transition: .5s ease;
            position: relative;
            overflow: hidden;

            & .beneficio__num {
                color: var(--color-primario);
                font-size: 3rem;
            }

            & .beneficio__sub {
                color: var(--color-primario);
                font-size: 1.5rem;
            }

            &:hover .beneficio__texto {
                transform: translateY(0);
            }
        }

        & .beneficios__x--color {
            flex: 1 1 30rem;
            background: var(--color-auxiliar);
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            text-align: center;
            border: 1rem solid var(--color-terciario);
            transition: .5s ease;
            position: relative;
            overflow: hidden;

            & .beneficio__num {
                color: var(--color-secudario);
                font-size: 3rem;
            }

            & .beneficio__sub {
                color: var(--color-secudario);
                font-size: 1.5rem;
            }

            &:hover .beneficio__texto {
                transform: translateY(0);
            }
        }

        & .beneficio__texto {
            font-size: 25px ;
            color: var(--color-auxiliar);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.89),var(--color-secudario));
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 4%;
            transform: translateY(100%);
            transition: .5s ease;
        
        }
    }
}

/* Media-queris */
@media (max-width: 480px) {
    .banner .banner__titulo {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .banner .banner__titulo {
        font-size: 3em;
    }
}

@media screen and (max-width:950px){
    .eligenos {
        & .eligenos__banner {
            & .eligenos__titulo {
                font-size: 9vw; /* Usar vw (viewport width) para que el tama침o se adapte a la pantalla */
            } 
            
            & .eligenos__parrafo {
                font-size:4vw;
                position: absolute;
                top: 66%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}