@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}

/* section inicio */

.hero{
    height: 800px;
    padding-top: 60px;
}

.hero__presentacion{
    padding: 10px;
}

.hero__logos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__llama{
    width: 10%;
    min-width: 63px;
    margin-top: 40px;
}

.logo__completo{
    width:600px;
    min-width: 300px;
    margin-top: -20px;
}

.hero-contenedor{
    text-align: center;
}

#hero-titulo-animado{
    color: var(--color-secudario);
    display: inline-block;
    font-size: 22px;
    overflow: hidden; /* Oculta el exceso de texto */
    border-right: 2px solid #333; /* Línea de escritura simulada */
    animation: escribir 2.5s steps(40, end), blink-caret 0.5s step-end infinite;
}

@keyframes escribir {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}

.hero-texto{
    text-align: center;
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.text{
    margin-top:20px;
    width: 50%;
    margin-bottom: 20px;
    font-weight:300;
}


.text-dev{
    color: var(--color-primario);
}

.transparent-button{
    color: var(--color-primario);
    border-radius: 20px;
    border: 1px var(--color-primario) solid;
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
    font-size: large;
    margin-bottom: 10px;
}

/*seccion comunidad*/

.ser{
    background-color: var(--color-secudario);
}

.ser_titulo{
    text-align: center;
    padding: 30px 0 40px;
    color: var(--color-auxiliar);
}

.ser__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
}
.ser__cards{
    background-color: var(--color-terciario);
    border-radius: 20px;
    width: 40%;
    min-width: 350px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 40px;
}

.button--modificado{
    background-color: var(--color-primario);
    color: var(--color-terciario);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}
.ser__parrafo{
    font-size: 18px;
}

.ser__parrafo--modificador{
    font-size: x-large;
    color: var(--color-primario);
}

/* banner cursos*/

.banner{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.banner-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.banner-card img{
    width: 310px;
    height: 200px;
}

.banner-card p{
    margin:40px 0 90px;
    font-weight: 700;
    font-size: large;
}

@media screen and (max-width:950px){
    /*nav*/
    .principal__navbar{
        justify-content: space-between;
    }
    .hero__logo{
        width: 100%;
    }
    .principal__logo{
        margin-left: 25px;
    }
    .principal__lista{
        display: none;
    }
    .principal__botones{
        display: none;
    }
    .hero{
        padding-top: 120px;
    }
}

@media (max-width: 700px) {
    .hero{
        height: 700px;
    }
    .logo__completo{
        width: 400px;
    }

}

@media (max-width: 500px) {

    .hero-texto {
        font-size: 15px;
    }
    .ser__parrafo {
        font-size: 16px;
    }
    .logo__completo{
        width: 320px;
    }
}
