:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
    --color-auxiliar2:#f2eded;
}
/*Primera seccion curso*/
.infoCurso__contenedor{
    background-color: #ffffff;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;

}
.primer__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0 2.5rem;
}
.principal__info{
    width: 28rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo__curso{
    color: #2F2B3B;
    font-size: xx-large;
}
.texto__titulo{
    margin: 2rem 0 1.5rem;
    font-size: large;
    color: #464545;
}
.comprar{
    border:0;
    background-color: var(--color-primario);
    color: #FFFFFF;
    padding: .5rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--color-primario);
    transition: background-color .2s, color .2s;
    position: relative;
    width: 30%;
    text-align: center;
}
.comprar:hover{
    background-color: var(--color-auxiliar2) ;
    color: var(--color-primario);
}


.principal__img{
   width: 40%;
}
/*Segunda seccion curso*/
.segundo__section{
    padding: 5rem;
    color: #D9D9D9;
    background-color: var(--color-secudario);
    margin-top: 4rem;
    width: 100%;
}

.segundo__section > .titulo__curso{
    color: #D9D9D9;
    margin-bottom: 1rem;
    text-align: center;
}
.contenedor__temario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.aside__temario{
    padding: 3rem;
    width: 23rem;
    display: flex;
    align-items: center;
    position: relative;
}
.aside__temario > p{
    margin-left: 1rem;
    font-size: small;
    font-weight: 700;
}
.icon{
    width: 2rem;
    height: 2rem;
}
/*modulos*/
.temario__contenidos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 60%;
}
.modulo__temario{
    padding: 3rem 0;
}
.titulo__temario{
    margin-bottom: 1rem;
}

/*Recomendaciones*/
.tercer__section > .titulo__curso{
    text-align: center;
    margin: 7rem
}
.recomendacion {
    padding: 1rem;
    box-shadow: 5px 5px 15px #c4c1c1;
    width: 25%;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recomendaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.recomendacion{
    padding: 1rem;
    box-shadow: 5px 5px 15px #c4c1c1;
    width: 25%;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
}
.recomendacion>img{
    margin-right: 2rem;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.puesto__recomendacion{
    color: #ca3608;
    font-weight: 600;
    font-size: small;
}

.experiencia__recomendacion{
    margin-top: 20px;
    padding: .0rem;
}

.contenedor {
    margin-top: 30px;
    & h1 {
        font-size: 20px;
        padding: 5px 2px 2px 2px;
    }
}
.section {
    background-color: var(--color-secudario);
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgb(57, 46, 90);
    }
}

.hidden {
    display: none;

    & br {
        padding: 10px;
    }
    & li {
        padding: 10px;
        color: var(--color-terciario);
        list-style-type: none;
    }

    & ol {
        margin: 20px 0px 10px 30px;
    }
}

.detalles__temario {
    margin-top:36px;
}
@media screen and (max-width:1000px){
.principal__img {
    display: none;
  }
.segundo__section {
    margin-top: 160px;
    padding: 50px;
    align-items: center;
}
}

@media screen and (max-width:550px){
.infoCurso__contenedor {
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}
.primer__section {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 210px;
    padding-top: 4px;
    align-items: center;
}
.segundo__section {
    width: 80%;
    margin-top: 40px;
    padding: 50px;
    align-items: center;
}

.tercer__section {
    display: none;
}
.temario__contenidos{
    max-width: 600%;

    & .contenedor {
        width: 100%;
    }
}
}