@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primario:#FD3C00;
  --color-secudario:#2F2B3B;
  --color-terciario: #FFFFFF;
  --color-auxiliar:#D9D9D9;
}

/*contenedor login*/
.ingreso {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  max-width: 100%; 
  overflow: hidden; 
}
/*animacion fondo*/
.textoDash h1{
  font-size: 3rem;
  z-index: 1;
  color: rgb(255, 249, 249);
}
.ingreso__img{
  width: 20%;
}
.ingreso__animacion {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation: banner 10s ease-in-out 0s infinite alternate-reverse none;
  z-index: 2;
  background-size: 100% 100%;
}

@keyframes banner{
  0%, 70%{
      background-image: url("/publics/img/login_registro/fondo3.jpeg");
  }
  70%,100%{
      background-image: url("/publics/img/login_registro/luke-chesser-3POMgLjfYv0-unsplash.jpg");
      opacity: 0.9;
    }
}

/*formulario*/

.titulo{
  font-size:xx-large;
  padding: 3rem 30% 1rem 0;
  text-align: left;
}

.ingreso__form {
  width: 40rem;
  height: 40rem;
  background-color: #FFFFFF;
  margin-right: 0px; /* Espacio entre las columnas */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0  6px 0 rgba(255, 255, 255, 0.8);
}
.form{
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
}
.grupo{
  margin: 3% 3% 10%;
  position: relative;
  margin: 10%;
}
.registro__formulario {
  width: 100%; 
  max-width: 400px; 

}
.ingreso__formulario p {
  margin: auto;
  padding: 2px;
}

.ingreso__formulario {
  width: 100%; 
  max-width: 400px; 
  text-align: center; 
}

.ingreso__formulario label {
  display: block; /* Coloca cada etiqueta en una línea separada */
  margin-bottom: 10px; 
  text-align: left;
  font-size: 20px;
  color: var(--color-secudario);
}

.grupo label {
  top: 10px;
  left: 5px;
  position: absolute;
  font-size: 16px;
  color: #8f8f8f;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

.grupo input {
  width: 100%; 
  font-size: 20px;
  border: transparent;
  border-bottom: 1px solid #c6c6c6;
  color: var(--color-secudario);
  padding: 10px 10px 10px 5px;
  display: block;
}
/*animacion form, cuando se posiciona en el input se mueve el componenete label
y si es valido el campo, se queda arriba*/
input:focus{
  outline: none;
  color: #5e5e5d;
}

input:focus~label,
input:valid~label{
  top: -14px;
  font-size: 12px;
  color: #FD3C00;
}


.link-olvido {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  text-decoration: none;
  color: var(--color-secudario);
  position: relative;
  top: 40px;

}

button {
  background-color: var(--color-primario);
  color: var(--color-terciario);
  border-radius: 20px;
  padding: 7px;
  text-decoration: none;
  font-size: 1.2rem;
  border: none;
  width: 80%;
  height: 55px;
}

.ingreso__pregunta p {
  margin: 2rem 0 3rem;
  font-size:medium;
  color: var(--color-secudario);
}
.link { 
  text-decoration: none;
  color: var(--color-primario);
  padding-left: 5px;
}

.ingreso__img-llama{
  width: 30%;
}


/* Media queris */
@media screen and (max-width:900px){
  .ingreso__animacion {
    display: none;
  }
}

@media screen and (min-width:900px){
  .ingreso__animacion {
    text-align: center;
  }
}
