@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}
/*main*/
.ingreso__container{
    background-color: var(--color-auxiliar);
    background-size: cover;
    justify-content: center;
    padding-top: 6vh;
    display: flex;
    align-items: center;
    height: 100vh;
}

.ingreso__content{
    display:flex;
    width: 50vw;
    align-items:center;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-auxiliar);
}

.ingreso__titulo{
    background-color: var(--color-auxiliar);

}

.ingreso__formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin: auto;
}

.ingreso__formulario p{
    margin: auto;
    padding: 10px;
}

.ingreso__img-llama{
    margin-top: 150px;
}

.ingreso__titulo{
    background-color: red;
    height: 100%;
}

.link-olvido{
    position: relative;
    top: 60px;
}
