@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}
/*main*/
.ingreso{
    display:flex;
    flex-wrap: wrap;
    height: 90vh;
    align-items:center;
    margin-top: 0px;
    justify-content:center;
    flex-direction: row;
    text-align: center;
    width: auto;
    background-color: var(--color-auxiliar);
    z-index: 100;
}
.ingreso__container{
    flex-direction: column;
    background-color: #FFFFFF;
    background-size: cover;
    justify-content: space-evenly;
    width: 50vw;
    height: 90vh;
    position: relative;
    padding-top: 6vh;

}
.container__titulo{
    background-color: var(--color-auxiliar);
    background-size: cover;
}

.ingreso__formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    margin: auto;
}



