@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}

/* section Quienes somos */

.somos{
    height: 90vh;
    padding-top: 150px;
}
.somos__texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;

}
.somos__titulo {
    margin-bottom: 40px;
    text-align: center;
    font-size: 4rem;
}

.somos__parrafo {
    font-size: 1.4rem;
    text-align: center;
    transition: .5s ease;
    width: 60%;
}

.somos__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 50px;
    font-size: 1.4rem;
}

.cards {
   flex: 1 1 20rem;
    background: var(--color-terciario);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 1rem solid var(--color-terciario);
    transition: .5s ease;
}


.somos__container .cards:hover {
    border-color: var(--color-terciario);
    transform: scale(1.04);
} 

.cards i {
    font-size: 5rem;
    color: var(--color-primario);
}

 /* section mision y vision */
.vision-mision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    gap: 2rem;
    padding: 3rem 10% 11rem 10%;
    transition: .5s ease;
    margin: 1px 2em 0 2em;
}

.descripcion1{
    margin-left: 35%;
    text-align: right;
    width: 60%;
    justify-content: flex-end
}
.descripcion2{
    text-align: left;
    width: 60%;
}

.comunidadButton{
    position: relative;
    top:200px;
    right:150px;
}
.transparent-button{
    color: var(--color-primario);
    border-radius: 20px;
    border: 1px var(--color-primario) solid;
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
    font-size: large;
    margin-bottom: 10px;
}


.descripcion__texto {
    color:#667080;
    font-size: 1.2rem ;
    padding: 1rem 0rem 0rem 0rem  ;
}

 /* section nuestros valores */

.valor__titulo {
    text-align: center;
    font-size: 2.5rem;
    padding: 4rem;
}

.valores__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    box-shadow:2px;
    margin: 4% 2em 0 2em;
}

.valores__container .xvalor {
    flex: 1 1 30rem;
    background: var(--color-terciario);
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 1rem solid var(--color-terciario);
    transition: .5s ease;
}

.valores__sub {
    font-size: 1.5rem ;
}

.valores__texto {
    font-size: 1.2rem ;
    padding: 1rem 0rem 0rem 0rem  ;
}

 /* section equipo */

.equipo__foto{
    border-radius: 45%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.equipo__experiencia{
    width: 20%;
}

.equipo__container {
    display: flex;
    flex-wrap: wrap;
}

.equipo__cards {
    background: var(--color-terciario);
    text-align: center;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipo__cards:hover {
    border-color: var(--color-secudario);
    transform: scale(1.01);
} 

/*form*/

.form-estilo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 10%;
    width: 80%;
}

/* Medida para tablet*/
@media screen and (max-width:900px){
    .somos{
    height: 160vh;

    }
    .somos__parrafo{
        width: 80%;
        font-size: 1.2rem;
    }

    .transparent-button{
        display: none;
    }
    .descripcion1{
        margin-left: 0;
        text-align: center;
        width: 80%;
    }
    .descripcion2{
        margin-left: 0;
        text-align: center;
        width: 80%;
    }
    .vision-mision img{
        display: none;
    }
}
@media screen and (max-width:500px){
    .somos__titulo{
        font-size: 3rem;
    }
    .somos__texto{
        margin-top:70px;
    }
    .vision-mision{
        margin-top: 80px;
    }
}