@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
}

/* barra de navegacion */

/* pendiente agregar un hover en los principal__elemento */
/* posiblemente se cambie el color auxiliar y preguntar si dejaremos el boton ingreso como esta */

.principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 9vh;
    padding: 2%;
    background-color: var(--color-auxiliar);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal__logo{
    width: 13%;
    margin-top: -1rem;
}

.principal__lista{
    list-style: none;
    display: flex;
    align-items: center;

}

.principal__lista li{
    font-size: 1.2rem;
    color:var(--color-secudario);
    margin-left: 4rem;
    transition: .3s;
    align-items: center;
}

.principal__lista li:hover,
.principal__lista li.active {
    color: var(--color-primario);
}

.principal__botones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
}

.principal__link {
    margin-left: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    background-color: var(--color-primario);
    color: var(--color-terciario);
    border-radius: 20px;
    padding: 0.7rem;
    text-decoration: none;
    margin-right: -38rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* section inicio */

.hero__logos{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__llama{
    width: 20%;
}

/* section Quienes somos */
.somos__titulo {
    text-align: center;
    font-size: 4rem;
    padding: 9rem 4rem 0rem 4rem;
}

.somos__parrafo {
    font-size: 1.4rem;
    padding: 3rem 10% 2rem 10%;
    text-align: center;
    transition: .5s ease;
}

.somos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.4rem;
}

.somos__container .cards {
    flex: 1 1 30rem;
    background: var(--color-terciario);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 1rem solid var(--color-terciario);
    transition: .5s ease;
}


.somos__container .cards:hover {
    border-color: var(--color-terciario);
    transform: scale(1.04);
} 

.cards i {
    font-size: 5rem;
    color: var(--color-primario);
}

 /* section mision y vision */
.vision-mision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    gap: 2rem;
    padding: 3rem 10% 2rem 10%;
    text-align: center;
    transition: .5s ease;
    margin: 1px 2em 0 2em;
}

.descripcion__texto {
    font-size: 1.2rem ;
    padding: 1rem 0rem 0rem 0rem  ;
}

 /* section nuestros valores */

.valor__titulo {
    text-align: center;
    font-size: 2.5rem;
    padding: 4rem 4rem 0rem 4rem;
}

.valores__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    box-shadow:2px;
    margin: 4% 2em 0 2em;
}

.valores__container .xvalor {
    flex: 1 1 30rem;
    background: var(--color-terciario);
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 1rem solid var(--color-terciario);
    transition: .5s ease;
}

.valores__sub {
    font-size: 1.5rem ;
}

.valores__texto {
    font-size: 1.2rem ;
    padding: 1rem 0rem 0rem 0rem  ;
}

 /* section equipo */

.equipo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.equipo__container .equipo__cards {
    flex: auto;
    background: var(--color-terciario);
    padding: 3rem 2rem 6rem 5rem;
    border-radius: 2rem;
    text-align: center;
    border: 2rem solid var(--bg-color);
    transition: .5s ease;
}

.equipo__container .equipo__cards:hover {
    border-color: var(--color-secudario);
    transform: scale(1.01);
} 

.equipo__cards h3 {
    font-size: 1.5rem;
}

.equipo__cards p {
    font-size: 1.2rem;
}

 /* section del pie de pagina */
.footer__redes{
     background-color: var(--color-auxiliar);
     height: 170px;
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
}

.footer__sociales{
     margin: 0 10px;
}
 
.footer__final{
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--color-secudario);
     color: var(--color-auxiliar);
}
 
.footer__logo{
     width: 30px;
}
.footer__copyright{
     position: absolute;
     margin-top:50px;
 }