@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root{
  --color-primario:#FD3C00;
  --color-secudario:#2F2B3B;
  --color-terciario: #FFFFFF;
  --color-auxiliar:#D9D9D9;
  --color-hover:#fd2200;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --color-primario:#FD3C00;
    --color-secudario:#2F2B3B;
    --color-terciario: #FFFFFF;
    --color-auxiliar:#D9D9D9;
    --color-hover:#fd2200;
}

/* secccion .blackboard */

.foro {
    display: flex; 
      
  & .foro__dashboard {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    background-color: var(--color-secudario); 
    padding: 10px;  
      & .redireccion__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 20px;
        & i {
          color: var(--color-primario); 
          font-size: 40px;
          }
        & a {
          text-decoration: none;
          color: var(--color-terciario); 
          margin-left: 10px;
        }
      }
  }
}

.principal__responder {
  width: 100%;
  padding: 3rem;
  background: #FFFFFF;
  & .body__pregunta {
    & .foro__publicadas{
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1%;
      height: auto;
      padding: 2%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: 2px solid var(--color-auxiliar);
      border-radius: 16px;
        & .foro__pregunta {
          display: flex;
          align-items: center;
          & img {
            width: 5%;
            height: 10%;
            margin-left: 1rem;
          }
          & .foro__reaccion {
            border: none;
            background: transparent;

          }
          & h3 {
            margin: 20px;
          }
          & p {
            display: none;
          }
        }
        & .foro__respuesta {
          margin: 1%;
          font-size: 20px;
          & p {
            margin: 1rem;
          }
        }
    }
  }
  & .hacer__respuesta{
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
    & .principal__formulario{
      border:2px solid var(--color-auxiliar);
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      margin: 2%;
      & .formulario__titulo {
        margin: 0%;
        width: 100%;
        max-width: 100%;
          #input__texto {
            resize: none;
            border:2px solid var(--color-auxiliar);
            width: 100%;
            margin-bottom: 1.5%;
            padding: 1%;
            font-size: 16px;
          }
      }
      & .formulario__codigo {
        margin: 0%;
        width: 100%;
        max-width: 100%;
          #input__codigo {
            resize: none;
            border:2px solid var(--color-auxiliar);
            width: 100%;
            padding: 1%;
            font-size: 15px;
          }
      }
    }
  }
}

.body__respuestas {
  width: 100%;
  & .foro__publicacion {
     display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 3%;
    padding: 3%;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid var(--color-auxiliar);
    border-radius: 16px;
    & .foro__perfil {
      & p {
        width: 4%;
        margin-bottom: 1rem;
      }
    }
    & .foro__reaccion {
      
      border: none;
      background: transparent;
      & .bx-star{
        margin-left: 1rem;
        margin-top: 2rem;
      }
    }
  }
  & .foro__respuesta {
    margin-left: -3rem;
    & p:first-child {
      font-weight: 800;
      margin-bottom: 1rem;
    }
  }
}


.foro__publicadas {
  width: 100%;
  margin: 1%;
}

#btn__respuesta{
  padding: 14px 20px;
  margin: 10px 0;
  background-color: var(--color-primario);
  color: #FFFFFF;
  font-weight: 700;
  font-size: larger;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
#btn__respuesta:hover{
  background-color: var(--color-hover);
}



@media screen and (max-width:800px){

  .texto__link{
      display: none;
  }
}